# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDEs & Code Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Streamlit Local Configurations / Secrets
.streamlit/secrets.toml

# Logs & Temporary Files
*.log
*.tmp
